<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseAccessInfo" type ="TeamMinerClassLibrary.AppConfigXmlSerializerSectionHandler, TeamMinerClassLibrary"/>
  </configSections>
  <DatabaseAccessInfo type ="TeamMinerClassLibrary.DatabaseAccessInfo, TeamMinerClassLibrary">
    <DBownerName>team</DBownerName>    
    <DBownerPassword>miner</DBownerPassword>    
    <DBsource>XE</DBsource>    
  </DatabaseAccessInfo>
</configuration>
